Geos_590_Fall_2023/.DS_Store
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/.ipynb_checkpoints
*/*/*.pdf
*/*/*/*.pdf
*/*/*/*/*.png
*/*/*/*/*.pdf
*.docx
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
2023_Fall/Geos_590/Final_Project/InSAR_Data
2023_Fall/Geos_590/Final_Project/Figures
2024_Spring/STAT_675/Assgn_*/Assgn_*.ipynb
2024_Spring/GEN_580/Figures
2024_Spring/GEN_580/Pointclouds
2024_Spring/GEN_580/Files/Assgn_02/BD_auto_facets_stereo.csv
2024_Spring/GEN_580/Files/Cropped_Cable_Mtn_Profiles
2024_Spring/STAT_675/Projects/Project_03_Probablistic_EQ_Loc/Figures
2024_Fall/CSC_577/*/output
2024_Fall/GEOS_568/*/output
2024_Fall/CSC_577/*/saved
2024_Fall/CSC_577/*/metrics
2024_Fall/CSC_577/*/data
2024_Fall/CSC_577/*/*.aux
2024_Fall/CSC_577/*/*.out
2024_Fall/CSC_577/*/*.log
2024_Fall/CSC_577/*/*.asv
2024_Fall/CSC_577/*/*.pdf
2024_Fall/CSC_577/*/*.docx
2024_Fall/CSC_577/*/*.gz
2024_Fall/CSC_577/*/*.bbl
2024_Fall/CSC_577/*/*.run.xml
2024_Fall/CSC_577/*/*.bcf
2024_Fall/CSC_577/*/*.blg
2024_Fall/CSC_577/*/*.bib
2024_Fall/CSC_577/*/color_constancy_images
2024_Fall/CSC_577/*/*/figures
2024_Fall/CSC_577/*/soln/*.txt
2024_Fall/GEOS_550/*/movie*
2024_Fall/GEOS_550/*/*.avi
2024_Fall/GEOS_550/*/*/*.avi
2024_Fall/GEOS_550/*.zip
2024_Fall/GEOS_550/Final_Proj/lds-nz-8m-DEM12-GTiff
2024_Fall/GEOS_550/Final_Proj/outfiles
uaenv