Geos_590_Fall_2023/.DS_Store
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/.ipynb_checkpoints
*/*/*.pdf
*/*/*/*.pdf
*/*/*/*/*.pdf
2023_Fall_Geos_590/Final_Project/InSAR_Data
2023_Fall_Geos_590/Final_Project/Figures
2024_Spring/STAT_675/Assgn_*/Assgn_*.ipynb
2024_Spring/GEN_580/Figures
uaenv